#outer{
  display: flex;
  /* border: 3px solid grey; */
  height: 100%;
  width: 100vw;
  /* padding-left:15em; */
 }
 #list{
    border: 1px solid greenyellow;
    background-color: blue;
    padding-right: 2em;
 }
 #list li{
    /* border: 1px solid greenyellow;  */
    padding-top: 1em;
   
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: whitesmoke;
   
 }
 #inside-left{
     display: flex;
     flex-direction: column;
     height:120vh;
     background-color: skyblue;
     /* border: 1px solid greenyellow; */
 
 }
 #right-top button{
    margin: 5px;
    height: 2em;
    width: 8em;
     color: rgb(252, 247, 247);
     background-color: rgb(138, 170, 218);
     border: none;
     font-size: medium;
     font-family:'Times New Roman', Times, serif;

 }
 #right-top{
    background-color:skyblue;
    
    
 }
 #inside-left button{
     color: rgb(43, 41, 41);
     background-color: rgb(138, 170, 218);
     border: none;
     margin: 3px;
     width: 10em;
     height:3em;
     font-size:medium;
     font-family:'Times New Roman', Times, serif;
 }
 