#outer{
  display: flex;
  /* border: 3px solid grey; */
  height: 100vh;
  width: 100vw;
  padding-left:15em;
 }
 #inside-left{
     display: flex;
     flex-direction: column;
     height:100%;
     background-color: skyblue;
     /* border: 1px solid greenyellow; */
 
 }
 #right-top button{
    margin: 5px;
    height: 3em;
    width: 12em;
     color: rgb(43, 41, 41);
     background-color: rgb(37, 194, 121);
     border: none;
     font-size: large;
     font-family:'Times New Roman', Times, serif;
 }
 #right-top{
    background-color:skyblue;
    
 }
 #inside-left button{
     color: rgb(43, 41, 41);
     background-color: rgb(72, 132, 221);
     border: none;
     margin: 3px;
     width: 10em;
     height:3em;
     font-size:large;
     font-family:'Times New Roman', Times, serif;
 }
 