#outer{
  display: flex;
  /* border: 3px solid grey; */
  height: 100%;
  width: 100vw;
  /* padding-left:15em; */
 }
 #list{
    /* border: 1px solid greenyellow; */
    background-color: rgb(246, 249, 250);
    height:100;
    /* width: 10rem; */
    /* padding-right: 2em; */
 }
 #list li{
    /* border: 1px solid greenyellow;  */
    padding-top: 5px;
   
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: rgb(12, 10, 10);
   
 }
 
 #ul{
   list-style-type:none;
   padding: 0%;
      
 }
#inside-left
{
  border: 1px solid gainsboro;
  height: 200vh;
}
