#top ,#bottom #sec1,#sec2,#sec3,#sec4{
    display: flex;
    justify-content: space-between;
    color: blue;
}
#main{
    /* margin-top: 0.5em; */
    padding: 1em;
    /* border: 1px solid grey; */
    width: 53vw;
}
#next{
    background-color: green;
    color: white;
    border-radius: 5px;
    height:40px;
    width: 100px;
    border: 0ch;

}
#nxt{
    
    display: flex;
    justify-content: flex-end;
}
input {
    height: 20px;
    
}
