#Asec1{
    padding: 5px;
    /* border: 1px solid grey; */
    width: 70vw;
}
#part1{
    justify-content: space-between;
}
#Apart2{
 /* border: 1px solid saddlebrown; */
 width: 60vw;
 display: flex;
 justify-content: space-between;
}

#part3{
    display: flex;
}
#part3 >div{
    padding-right: 7em;
}

.Ainner{
    padding: 5px;
    display: flex;
    width: 60vw;
    justify-content: space-between;
  
    /* border: 1px solid black; */
}

.direction{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    width: 30vw;
    justify-content: space-between;
    padding-left: 5px;
    padding-bottom: 10px;
}